@font-face {
  font-family: "SKYBORI";
  src: url("@/assets/fonts/SKYBORI.ttf") format("truetype");
}

@font-face {
  font-family: "Orbit";
  src: url("@/assets/fonts/Orbit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SUITE";
  src: url("@/assets/fonts/SUITE-Regular.otf") format("opentype");
}

body {
  font-family: "SUITE", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
